#include "windows.h"
#include "resources.h"

// Application icon
IDI_APPICON ICON "../no-sleeping_9260684.ico"

// Version info (optional)
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "nosleep"
            VALUE "FileDescription", "Prevent Windows from sleeping"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "nosleep"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "nosleep.exe"
            VALUE "ProductName", "nosleep"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
